<form #form="ngForm" (ngSubmit)="onSubmit()">
  <mat-card class="memory-card">
    <mat-card-title>
      Add a Beer
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input disabled matInput placeholder="Select the date..." [(ngModel)]="beer.date" name="date" [matDatepicker]="date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #date></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <textarea placeholder="Enter your beer..." rows="3" maxlength="300" matInput [(ngModel)]="beer.text" name="beer"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Save!</button>
    </mat-card-actions>
  </mat-card>
 </form>
 <pre> {{ beer | json }} </pre>